body {
  background-image: linear-gradient(314deg, #801111 0%, #F3D8DF 0%, #E0D9D6 100%);
}

#left-column, 
#right-column {
  background-color: white;
  flex: 1;
  width: 40%;
  height: 40%;
  margin: 5%;
}

#column-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#overlay {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 25em;
}

#column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  padding: 10px;
}

#x_button {
  max-width: 40px;
  padding: 0;
}

.text{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
}

#chanel {
  max-width: 10em;
}

#top_text {
  max-width: 15em;
}

#lower_text {
  max-width: 15em;
}

#addtobag {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 15em;
  margin-bottom: 30px;
  padding: 0;
}
