body {
  background-image: linear-gradient(314deg, #801111 0%, #F3D8DF 0%, #E0D9D6 100%);
}

#container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#overlay {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
}

#column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  padding: 20px;
}

#x_button {
  max-width: 40px;
  padding: 0;
}

.text{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
}

#chanel {
  max-width: 15em;
}

#top_text {
  max-width: 15em;
}

#lower_text {
  max-width: 15em;
}

#addtobag {
  max-width: 15em;
}
